{% extends 'templates/master.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">
            <h2>A-SysRV Prediction Tool</h2>
            <br>
            <form action="" method="post" enctype="multipart/form-data" onsubmit="event.preventDefault()">
                <div class="upload-btn-wrapper" title="Click to choose a file">
                    <input type="file" name="file" id="file" style="display: none;" accept=".fasta,.txt"
                        onchange="handleFileChange()">
                    <label for="file" id="file-label" class="upload-btn">Choose a file</label>
                </div>
                <div class="submit-btn-wrapper">
                    <button type="submit" class="submit-btn" id="submit-btn" onclick="uploadFile(event)">
                        <span id="submit-txt">Submit</span></button>
                </div>
                <div class="loader" id="loader"></div>
                <p class="text-muted mt-2">Note: For now, we only accept ".fasta" files from UNIPROT.org.</p>
                <p class="text-muted">You can use one of the samples from below.</p>
                <hr style="width: 400px;margin:auto">
                <div class="mt-2">
                    <h5>Sample FASTA files:</h5>
                    <div class="d-flex justify-content-center">
                        <div class="me-2"> <a href="{{url_for('static', filename='try-out/small_sample.fasta')}}">Small
                                Sample</a></div>
                        <div class="me-2"> <a
                                href="{{url_for('static', filename='try-out/medium_sample.fasta')}}">Medium Sample</a>
                        </div>
                        <div class="me-2"> <a href="{{url_for('static', filename='try-out/large_sample.fasta')}}">Large
                                Sample</a></div>

                    </div>
                </div>


            </form>
        </div>
        <div class="col-lg-6 mt-3 mt-lg-0" id="results-block" style="display: none;">
            <hr class="d-lg-none">
            <span class="badge btn-lg bg-secondary px-5 py-2">Results</span>
            <table class="table mt-2">
                <thead>
                    <tr id="table-heading">
                        <th scope="col">ID</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
            <p class="text-muted">This is only a snippet of the result. Please click button below to download full
                results.</p>
            <div class="download-btn-wrapper mt-4">
                <button type="button" class="btn btn-success" id="download-btn" data-filename="2023_11_06_20_53_07.json"
                    onclick="downloadFile(event)">Download Results</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    async function uploadFile(e) {
        e.preventDefault()

        const fileInput = document.getElementById("file");
        const file = fileInput.files[0];

        if (!file) {
            alert("Please select a file.");
            return;
        }

        document.getElementById('loader').classList.add('show')
        document.getElementById('submit-btn').setAttribute("disabled", "disabled");
        document.getElementById('submit-txt').innerText = "Please wait...";
        document.getElementById('results-block').style.display = "none"

        const formData = new FormData();
        formData.append("file", file);

        try {
            const response = await fetch("/api/upload_fasta", {
                method: "POST",
                body: formData,
            });

            if (response.ok) {
                const data = await response.json()
                const results = JSON.parse(data.results)
                console.log(results)
                appendResultsToDocument(results)

                const filename = data.filename
                document.getElementById('download-btn').setAttribute("data-filename", filename);
                document.getElementById('results-block').style.display = "block"
            } else {
                alert("Error processing the file. Please try again.");
            }
        } catch (error) {
            console.error("Error:", error);
        } finally {
            document.getElementById('loader').classList.remove('show')
            document.getElementById('submit-btn').removeAttribute('disabled')
            document.getElementById('submit-txt').innerText = "Submit";
        }
    }

    function appendResultsToDocument(results) {
        let tableHeader = document.getElementById("table-heading");
        let tableBody = document.getElementById("table-body");

        // Clear existing table content
        tableHeader.innerHTML = '';
        tableBody.innerHTML = '';

        // Set up the header
        let snHeader = document.createElement("th");
        snHeader.innerText = "ID";
        tableHeader.appendChild(snHeader);

        let goTermsHeader = document.createElement("th");
        goTermsHeader.innerText = "Predicted GO Terms";
        tableHeader.appendChild(goTermsHeader);

        // Populate the body of the table
        for (let id in results) {
            if (results.hasOwnProperty(id)) {
                let tr = document.createElement("tr");

                // ID column
                let tdID = document.createElement("td");
                tdID.innerText = id;  // Use the ID as the text
                tr.appendChild(tdID);

                // Predicted GO Terms column
                let tdGoTerms = document.createElement("td");
                tdGoTerms.innerText = results[id].join(", ");
                tr.appendChild(tdGoTerms);

                tableBody.appendChild(tr);
            }
        }
    }

    function handleFileChange() {
        const fileInput = document.getElementById("file");
        const file = fileInput.files[0];
        if (file) {
            document.getElementById('file-label').classList.add('file')
            document.getElementById('file-label').innerText = 'File selected'
        } else {
            document.getElementById('file-label').classList.remove('file')
            document.getElementById('file-label').innerText = 'Choose a file'
        }
    }

    async function downloadFile(e) {
        e.stopPropagation()
        const ele = document.getElementById("download-btn");
        const filename = ele.getAttribute('data-filename')
        const formData = new FormData();
        formData.append("filename", filename);
        try {
            const response = await fetch("/api/download_file", {
                method: "POST",
                body: formData,
            });
            if (response.ok) {
                const blob = await response.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.target = "_blanks"
                a.download = "results.csv";
                a.style.display = "none";
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            } else {
                alert("Error processing the file. Please try again.");
            }
        } catch (error) {
            console.error("Error:", error);
        }
    }

</script>
{% endblock %}